<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | SSR Store
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/lucide/lucide.min.js" defer></script>
</head>

<body>
    <div class="auth-layout">
        <div class="auth-container">
            <%- body %>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            lucide.createIcons();
        });
    </script>
</body>

</html>